
body {
    height: 75vh;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #253659;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}
h3{
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size :large;
    font-weight: bold;
}

#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

     
}

#viewTitle{
    background-color: #03A696;
    background-image: linear-gradient(to right,#03A696,#F27457);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#viewCard{
    background-color: #04BF9D;
    background-image: linear-gradient(to right,#04BF9D,#9dd4ca);
    border-radius: 20px; 
    height: 150px;
    width: 45%;
    border: 3px solid #03A696;
    padding: 10px;
    padding-bottom: 20px;
    margin-top: 100px;
    margin: 15px; 
    text-align: center;
    font-size: 18px;
}                                                           

#validCardSection{
    border: 3px solid #BF665E;
    margin-top: 20px;
    padding: 6px;
    text-align: center;
    min-height: 20px;
    max-height: 20px;
    display: none;
}

#viewMaskifyCard{
    background-color: #F27457;
    background-image: linear-gradient(to right,#F27457,#b4867c);
    border-radius: 20px;
    text-align: center;
    height: 150px;
    width: 45%;
    border: 3px solid #BF665E;
    font-style: italic;
    display: none;
    padding: 10px;
    padding-bottom: 20px;
    margin-top: 100px;
    margin: 15px; 
}

h1, h2, h3 {
    margin: 0;
}

footer{
    background-color: #03A696;
    background-image: linear-gradient(to right,#03A696,#F27457);
    text-align: center;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size :normal;
    font-weight: bold;
    padding: 3px;
    margin: 10px;
}

button{
    margin-top: 20px;
    margin-left: 40px;
    background-color: #F27457;
    background-image: linear-gradient(to right,#F27457,#c6aea8);
    border: 2px solid #BF665E;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size :15px;
    font-weight: bold;
    height: 30px;
    width: 120px;
}


input {
    border-color: #253659;
    border-radius: 5px;
}